html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-section {
  padding: 20px 10px 0px 10px;
}

.main-section {
  padding: 0px 10px;
  padding-bottom: 200px;
}

.bottom-section {
  border-top: 1px solid #dddddd;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.input-container {
  display: flex;
  gap: 5px;

  > :nth-child(3) {
    margin-left: 0px;
  }
}

.activity-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  font-size: 12px;

  li {
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }
}

.active {
  color: white;
  background-color: gray;
}

.color-picker {
  background-color: white;
  width: 30px;
  height: 30px;
}

input {
  height: 25px;
  border: 1px solid #373737;
  border-radius: 5px;
  padding: 0 5px;
}

button {
  color: white;
  background-color: gray;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 30px;
}

.event-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 5px 0 30px 0;
  font-size: 14px;

  li {
    padding: 10px 0;
    display: flex;
    align-items: center;

    span {
      display: flex;
      width: 15px;
      height: 35px;
      margin-right: 10px;
      border-radius: 15px;
    }

    > p {
      padding-left: 0.5rem;
      border-left: 1px solid #dddddd;
      font-size: 10px;
      color: #a1a1a1;

      &:hover {
        color: gray;
      }
      font-style: italic;
      height: 28px;
      position: absolute;
      left: 350px;
      word-break: normal;
      width: 178px;
      overflow-y: scroll;
    }
  }

  h4 {
    margin: 0;
    font-size: 10px;
    font-weight: lighter;
  }

  p {
    margin: 5px 0 0 0;
  }
}

.total-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 10px;
  }
  h3 {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    margin-bottom: 5px;
  }
}

.total-bar {
  position: relative;
  margin-bottom: 20px;
  width: 70%;
  height: 14px;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 20px;
  span {
    position: absolute;
    height: 100%;
  }
}

.delete-button {
  word-break: none;
  display: block;
  width: 120px;
  padding: 5px;
  background-color: rgb(222, 66, 84);
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

button:hover {
  cursor: pointer;
}

input[type="time"] {
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  font-weight: normal;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.event-time {
  display: flex;
}

.gradient {
  background: #12c2e9; /* fallback for old browsers */
  background: linear-gradient(to right, #8d66aa, #c6afd2, #e9e1f7);
}
